{% extends "base.html.twig" %}

{% block body %}

	<article class="col-md-5 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">

		<h2>{{ article.title }}</h2>

		<div class="metadata mb-3">
			Ecrit le
			{{ article.createdAt | date ('d/m/Y à H:i:s')}}
			dans la catégorie
			{{article.category.title}}
		</div>

		<div class="content">

			<img src="{{ asset('images/articles/' ~ article.image) }}" alt=" Image de {{ article.title }}" style="width: 350px"><br> <br>

			{{ article.content | raw }}

		</div>

		<a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-success" style="width: 150px; margin: 20px 0">Editer</a>

{% endblock %}
